* {
background-color: rgb(71, 47, 47);
}

header {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.ggmate{
margin: 3%;
position: relative;
}

.second-txt {
    background-color:  transparent;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

