* {
background-color: rgb(95, 84, 84);
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

 img{
    width: 100%;
    height: 250px;
    object-fit: cover;
 }

.ggmate{
    width: 100%;
    position: relative;
   
}

.frist-txt {
    background-color:  transparent;
    color: white;
    position: absolute;
    top: -20px;
    left: 10px;
}

.second-txt{
    background-color: transparent;
    color: aliceblue;
    font-size: large;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

input{
    background-color: aliceblue;
    width: 262px;
}

form {
    padding-top: 4%;
    position: relative;
    margin-left: 20px;
    }

 .custom-restricted {
    margin-top: 5%;
    margin-left: 20px;
    height: 200px;
    width: 350px;
    border: 1px solid gray;
    border-radius: 4px;
    border-spacing: 5%;
    }

 .pure-menu-heading{
    font-size: 10px;
    background-color: rgb(255, 255, 255);

 }

 .pure-menu-item{
     background-color: rgb(95, 91, 91);
     color: rgb(255, 255, 255);

    }

 #map { 
        position: absolute; 
        top: 0; 
        bottom: 0; 
        width: 100%; 
    }
      
